<!DOCTYPE HTML>
<head>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<title>Dine Tonight</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h2>DINE TONIGHT</h2>
			<p>Plan your dinner with your friends</p>
		</div>
		<div class="results-div">
			<% if (results) { %>
				<p>Here is what our machines found for you. Hope you find something you like!</p>
				<% for (var item in results) { %>
					<div class="result" id=<%= results[item].name %>>
						<div class="flex-wrapper">
							<img src=<%= results[item].image %>>
							<div class="wrapper">
								<a target="blank" href=<%- JSON.stringify(results[item].url) %>><p><%= results[item].name %></p></a>
								<p>Rating: <%= results[item].rating %> <span style="font-size: 0.8em">(<%= results[item].reviews %> reviews)</span></p>
							</div>
						</div>
						<div class="wrapper">
							<button class="will-go">Action</button><br/>
							<button class="more-info-button">Expand information</button>
						</div>
							
						<div class="more-info">
							<p><strong>A sample review:</strong> <span style="font-style: italic"><%= results[item].snippet %></span></p>
							<p><strong>Phone: </strong><%= results[item].phone %></p>
							<% if (!results[item].status) { %>
								<p>NOW OPEN</p>
							<% } else { %>
								<p>NOW CLOSED</p>
							<% } %>
							<p><strong>Address: </strong><%= results[item].address %></p>
							<p><a href=<%= results[item].url %> target="blank"><%= results[item].name %>'s page at Yelp!</a></p>
						</div>
					</div>
				<% } %>
			<% } else if (errorText) { %>
				<p>OK... There seems to be a problem... Propably you live at the end of the world... We suggest you move to another city! Anyway, here is what our machines are telling us:</p>
				<li><%= errorText %></li>
			<% } %>
		</div>
		<!-- Footer section. -->
		<div class="footer">
			<div class="author">
				<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
				<p>Visit my pages:</p>
				<ul class="pages">
					<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
					<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
					<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
					<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
				</ul>
				<span style="font-size:0.7em">Copyright © Dine Tonight 2016. All Rights Reserved</span>
			</div>
		</div>
	</div>
	
	<script src="scripts/results.js"></script>
</body>